<tr>
  <td class="gravatar">
    <%= link_to gravatar_for(feed_item.user), feed_item.user %>
  </td>
  <td class="micropost">
    <span class="user">
	<b>
      <%= link_to feed_item.user.name, feed_item.user %>
    </b>
    </span>
    <br>

    <% content_displayed = "False" %>
    <% users_reply_array = [] %>

    <% for username in feed_item.user.following %>
	  <% if feed_item.content.include?("@"+username.name) %>
	    <% feed_item.content.match("@"+username.name) %>
	    <% users_reply_array.insert(0,username) %>
	    <%# content_displayed = "True" %>
	    <% for user in users_reply_array %>
	      <%= link_to "@"+user.name, user %>
	    <% end %>
	  <% end %>
	<% end %>
	<% if content_displayed == "False" %>
	  <span class="content"><%= feed_item.content %></span>
	<% end %>
    <span class="timestamp">
      Posted <%= time_ago_in_words(feed_item.created_at) %> ago.
    </span>
  </td>
  <% if current_user?(feed_item.user) %>
  <td>
    <%= link_to "delete", feed_item, :method => :delete,
                                     :confirm => "You sure?",
                                     :title => feed_item.content %>
  </td>
  <% end %>
</tr>