<tr>
  <td class="gravatar">
    <%= link_to gravatar_for(feed_item.user), feed_item.user %>
  </td>
  <td class="micropost">
    <span class="user">
	<b>
      <%= link_to feed_item.user.name, feed_item.user %>
    </b>
    </span>
    <br>

    <%# SPLIT POST IN TO ARRAY OF WORDS %>
    <% split_content = feed_item.content.split %>
    <%# CHECK TO SEE IF USER IS VALID AND MAKE LINKS %>
	<% for part in split_content %>
	  <% for username in feed_item.user.following %>
	<%# CHECK FOR COMPOUNDED @s %>
	    <% if part.count("@") > 1 %>
	      <% compoundIndex = split_content.index(part) + 1 %>
	      <% compound_at = part.split("@")[1,part.count("@")] %>
	      <% part.clear %>
	      <% for cName in compound_at %>
	        <% cName.insert(0,"@") %>
	        <% split_content.insert(compoundIndex, cName) %>
	        <% part.clear %>
	        <% compoundIndex += 1 %>
	      <% end %>
	      <%= split_content.flatten! %>
	    <% end %>
	<%# COMPARE WITHOUT CASE SENSITIVITY %>
	    <% if part.casecmp("@"+username.name) == 0 %>
	<%# ADD REPLY LINK (Appears at front of post) %>
	      <span class="content"><%= link_to '@'+username.name, username %></span>
	      <% part.clear %>
	    <% end %>
	  <% end %>
	<% end %>

    <%# DISPLAY NON-LINK TEXT %>
    <% for part in split_content %>
      <% if !part.empty? %>
        <span class="content"><%= part %></span>
      <% end %>
    <% end %>
	<span class="timestamp">
	Posted <%= time_ago_in_words(feed_item.created_at) %> ago.
	</span>

  </td>
  <% if current_user?(feed_item.user) %>
  <td>
    <%= link_to "delete", feed_item, :method => :delete,
                                     :confirm => "You sure?",
                                     :title => feed_item.content %>
  </td>
  <% end %>
</tr>